---
import Layout from "../layouts/Layout.astro";
import { FirestoreData } from "@/components/FirestoreData";
import { IKnow } from "@/components/IKnowWhoYouAre";
---

<Layout title="Stargazer">
  <FirestoreData client:only />
  <main>
    <h1 class="text-2xl">Hello world</h1>

    <IKnow client:only />
  </main>
</Layout>
