---
import { $userData } from "@/utils/stores";
import Layout from "../layouts/Layout.astro";
// import { FirestoreData } from "@/components/FirestoreData";
import { LogoutButton } from "@/components-custom/nav/LogoutButton";
import { Icon } from "@/components/Icon";
import { StargazerSidebarDirectory } from "@/components-custom/nav/StargazerSidebarList";
import { PinnedThingsList } from "@/components-custom/home/PinnedThingsList";
import { Sort } from "@/components-custom/home/Sort";
import { StarredList } from "@/components-custom/home/StarredList";
---

<Layout title="Stargazer">
  <!-- TODO: view transitions for sidebar
    https://docs.astro.build/en/guides/view-transitions/
  -->
  <div class="pl-64">
    <!-- sidebar -->
    <aside class="fixed left-0 top-0 w-64 h-full bg-gray-900 border-r border-gray-800 flex flex-col pb-8">
      <div class="shrink-0 p-4">
        <h3 class="text-base">Stargazer</h3>
        <p class="text-sm text-gray-500">Welcome</p>
      </div>

      <nav class="flex-1 mt-6 p-2 text-sm flex flex-col">
        <div class="flex-1">
          <a href="/" class="sidebar-item active">
            <Icon name="clock" className="sidebar-item-svg" strokeWidth={2.5} />
            <span>Recents</span>
          </a>

          <div class="mt-1">
            <div class="sidebar-item">
              <Icon name="folder" className="sidebar-item-svg size-4.5 ml-px text-gray-500" strokeWidth={2.5} />
              <span class="text-gray-500">Stargazer lists</span>
            </div>

            <StargazerSidebarDirectory client:only="react" />
          </div>
        </div>

        <div class="shrink-0">
          <LogoutButton client:only="react" />
        </div>
      </nav>
    </aside>

    <!-- main content -->
    <main class="mx-auto max-w-7xl">
      <!-- top -->
      <div class="p-4">
        <h1 class="text-base text-gray-500">Recents</h1>

        <div class="pt-9 pb-6">
          <span class="label">Pinned</span>
          <PinnedThingsList client:only="react" />
        </div>
      </div>
      <!-- end top -->

      <!-- divider -->
      <hr class="border-gray-800" />
      <!-- end divider -->

      <!-- sorting and filtering -->
      <div class="p-4 flex space-x-4">
        <div>
          <span class="label block">Sort</span>
          <Sort client:only="react" />
        </div>

        <div>
          <span class="label block">Filter</span>
          <Sort client:only="react" />
        </div>
      </div>
      <!-- end sorting -->

      <!-- content -->
      <div class="p-4 pt-8 space-y-16">
        <div>
          <StarredList title="Starred this week" client:only="react" dayRange={[0, 7]} />
        </div>

        <div>
          <StarredList title="Starred this month" client:only="react" dayRange={[8, 30]} />
        </div>

        <div>
          <StarredList title="Starred in the past 6 months" client:visible dayRange={[31, 180]} />
        </div>

        <div>
          <StarredList client:visible title="Starred in the past year" dayRange={[181, 365]} />
        </div>

        <div>
          <StarredList client:visible title="Starred in the past 2 years" dayRange={[366, 730]} />
        </div>

        <div>
          <StarredList client:visible title="Starred more than 2 years ago" dayRange={[731]} />
        </div>
      </div>
      <!-- end content -->

      <!-- footer -->
      <footer class="flex items-start justify-center mt-32 py-8 border-t border-gray-800">
        <span class="text-xs text-gray-500">Thanks for being a Stargazer.</span>
      </footer>
      <!-- end footer -->
    </main>
  </div>
</Layout>
